<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div" />
		
	<h4><f:translate key="title.register"/></h4>
		
	<f:if condition="{address}">
		
		<f:then>
			<p>
				<f:translate key="text.registration-mail-sent.1"/><br/>
				<f:translate key="text.registration-mail-sent.2"/>
			</p>
			<p>
				<f:link.page>
					<f:translate key="label.back"/>
				</f:link.page>
			</p>
		</f:then>
		
		<f:else>
			<f:form action="register" objectName="address" onsubmit="return mmcDmlSubscr.submitForm()" class="mmc-dms-form">
				<div class="form-row">
					<label for="mmcDms-gender"><f:translate key="label.gender"/></label>
					<f:form.select 
						property="gender" 
						size="1" 
						id="mmcDms-gender"
						options="{m:'{f:translate(key : \'label.gender.m\')}' ,f:'{f:translate(key : \'label.gender.f\')}' }"
					/>
				</div>
				<div class="form-row">
					<label for="mmcDms-firstName"><f:translate key="label.first-name"/>*</label>
					<f:form.textfield property="firstName" type="text" class="validate required" id="mmcDms-firstName"/>
				</div>
				<div class="form-row">
					<label for="mmcDms-lastName"><f:translate key="label.last-name"/>*</label>
					<f:form.textfield property="lastName" type="text" class="validate required" id="mmcDms-lastName"/>
				</div>
				<div class="form-row">
					<label for="mmcDms-email"><f:translate key="label.email"/>*</label>
					<f:form.textfield property="email" type="text" class="validate required email repeat" id="mmcDms-email"/>
					<f:form.hidden property="moduleSysDmailHtml" value="1"/>
				</div>
    		<div class="form-row">
    			<label for="mmcDms-email-repeat"><f:translate key="label.email.repeat"/>*</label>
    			<f:form.textfield name="email-repeat" type="text" class="validate required email" id="mmcDms-email-repeat"/>
    		</div>
				<div class="form-submit">
					<f:form.textfield class="h" name="h1"/>
					<f:form.submit name="submitButton" value="{f:translate(key: 'label.submit')}"/>
				</div>
			</f:form>
			<p>
				<br/>
				<f:link.action action="cancel"><f:translate key="label.cancel-link"/></f:link.action>
			</p>
		</f:else>
		
	</f:if>

</f:section>